<html>
    <head><title>
        todo-list
    </title>
    <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h1 class="helpcolor">
            Help to use Todo list
        </h1>
        <ul>
        <li><h2>Type something in the given space where "New Item" is present.</h2></li>
        <li><h2>Click on the "+" button to add item in database. </h2></li>
        <li><h2>To remove data from database we have to click on the check box and then item got deleted.</h2></li>
        </ul>
    </body>
</html>